/* Mobile Phone CSS */
@media only screen and (max-width: 480px) {
    body.homepage {
        background-color: #E8E9EB;
    }


    .jumbotron {
        display: none;
        flex-flow: column wrap;
    }

    .bg-cover {
        display: none;
    }

    .p-4 {
        display: none;
    }

    .container {
        padding-top: 0;
    }

    .row {
        display: block;
    }


    .mb-3 {
        padding-bottom: 4rem;
    }

    #nomobile {
        display: none !important;
    }

    .mb-lg-0 {
        display: flex !important;

    }

}


/*Tablet CSS*/
@media only screen and (min-width: 481px) and (max-width: 770px) {

    #nomobile {
        display: none !important;
    }

    .jumbotron {
        display: none;
        flex-flow: column wrap;
    }

    .bg-cover {
        background-size: contain !important;
        /* min-height: 30vh;  had some ideas....none were good... */
        background-repeat: no-repeat !important;
    }

    .p-4 {
        display: none;
    }

    .container {
        padding-top: 0;
    }

    .row {
        display: block;
    }

    .mb-3 {
        padding-bottom: 4rem;
    }

}

/*Desktop CSS*/
@media only screen and (min-width: 771px) {

    #mobile {
        display: none;
    }

    .img-tablet {
        display: none;
    }

    .mb-3 {
        padding-bottom: 4rem;
    }

}